<nav class="navbar navbar-expand-lg" style="background-color: var(--secondary-color);">
  <div class="container">

    <div class="mainLinks" style="color:white; font-size:larger;">WebShop</div>

    <div class="nav-content">
      <ul>
        <a *ngIf="user.myProduct === undefined"
         class="mainLinks" routerLink="/main/orders" routerLinkActive="activeLink">
          <li>
            Moje narudžbine
          </li>
        </a>

        <a *ngIf="user.myProduct === undefined" class="mainLinks" routerLink="/main/products"
          routerLinkActive="activeLink" [routerLinkActiveOptions]='{exact: true}'>

          <li>
            Proizvodi
          </li>
        </a>

        <a *ngIf="user.myProduct !== undefined"
          class="mainLinks"
          routerLink="/main/home"
          routerLinkActive="activeLink"
          [routerLinkActiveOptions]='{exact: true}'
        >

          <li>
            <i class="fas fa-home"></i>
            Početna
          </li>
        </a>

        <a *ngIf="user.myProduct !== undefined"
          class="mainLinks" routerLink="/main/my-products" routerLinkActive="activeLink" >

          <li>
            Moji proizvodi
          </li>
        </a>

        <a *ngIf="user.myProduct === undefined"
          class="nav-btn" style="margin-right: 5px;" routerLink="/main/cart">
          <li id="frst">
            <i class="fas fa-shopping-cart" style="color: var(--primary-color);"></i>
            {{ toPay | number: '1.2-2' }} RSD
          </li>
        </a>

        <p-slideMenu styleClass="slideMenu" #menu [model]="items" [popup]="true" effectDuration="1000" easing="ease-in"></p-slideMenu>
        <a *ngIf="user != null" class="nav-btn" style="cursor: pointer;" (click)="menu.toggle($event)">
          <li id="secn">
            <i class="fas fa-user-circle"></i>
            {{user.name + ' ' + user.surename}}
          </li>
        </a>
      </ul>

    </div>

  </div>
</nav>
