.items{
  font-family: 'Roboto';
  margin: auto;
  max-width: 100%;
  padding: 12px;
  display: grid;
  gap:5px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 320fr));
  /* justify-content: center; */
}

@media (min-width: 1300px) {
  .items {
    grid-template-columns: repeat(5, 1fr);
    max-width: 1300px;
   }
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #e3e3e3;
  background-color: white;
  max-width: 100%;
  min-width: 250px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: all 200ms;
}

.item:hover{
  -webkit-box-shadow: -1px 1px 13px 5px rgba(209,202,209,1);
  -moz-box-shadow: -1px 1px 13px 5px rgba(209,202,209,1);
  box-shadow: -1px 1px 13px 5px rgba(209,202,209,1);
}
.item #name{
  display: grid;
  background-color: #F4F4F4;
  color: #333;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  margin: 2px;
  text-align: left;
  height: 60px;
  text-overflow: ellipsis;
}
.item #name span{
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}
#picture {
  position: relative;
}
#picture img {
  max-width: 100%;
  /* height: auto; */
  /* height: 250px; */
  height: 200px;
  padding: 5px;
}
.hideBox {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(36,45,55,.9);
  align-items: center;
  justify-content: center;
}

.control-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbtn{
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #ced4da;
  color: #6c757d;
  height: 40px;
  width: 40px;
  padding: 12px 11px;
  border-radius: 3px 0px 0px 3px;
}

.search-bar {
  display: flex;
}
.search-bar > input{
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #ced4da;
  color: #6c757d;
  padding: 4px 8px;
  height: 40px;
  min-width: 300px;
}

#price{
  text-align: left;
  padding: 5px 15px 5px 15px;
}
#price > span {
  font-size: 16px;
  font-family: 'Roboto-midium';
}

.hidden{
  visibility: hidden;
}

.control-top ::ng-deep .p-dropdown{
  width: 180px;
}
