<div class="m-container">
  <h3>Registruj se</h3>

  <div class="chose_container"> <!-- flex row-->

    <div>
      <h4>Kupac</h4>
      <div>Izaberite najbolje proizvode iz naše ponude.</div>
      <button class="bttn bttn-primary" routerLink="customer">Nastavi</button>
    </div>

    <div>
      <h4>Prodavac</h4>
      <div>Želite da plasirate sopstvene proizvode?<br> Izaberite ovu opciju.</div>
      <button class="bttn bttn-dark" routerLink="vendor">Nastavi</button>
    </div>

  </div>

  <a routerLink="../sing-in" >
    <i class="fa fa-angle-left" aria-hidden="true"></i>
    Već imate nalog ?
  </a>

</div>

