
.product-wrapper{
  max-width: 1300px;
  margin: 0px auto;
  padding: 20px 10px;
}
.left-side{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(155, 154, 154, 0.14), 0 2px 1px -1px rgba(187, 184, 184, 0.24);
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
  height: fit-content;
}

.product-title{
  margin-top: 18px;
  width: 100%;
  font-weight: 200;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-title > h3{
  font-family: 'Roboto-midium';
  color: #333;
  margin-bottom: 0px;
}

.product-title > span{
  padding: 3px 10px;
  border-radius: 20px;
  color: white;
  margin-right: 20px;
  font-size: 13px;
  font-family: 'Roboto-bold';
}

.negative{
  background-color: #f797a1;
}
.positive{
  background-color: #44aa74;
}

.product-images{
  padding: 0px 10px;
  margin-left: auto;
  margin-right: auto;
}
.product-images > img {
  position: sticky;
  top: 10px;
}
.backLink{
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 18px;
  cursor: pointer;
  color: var(--link);
}

.description{
  margin-bottom: 16px;
  text-align: justify;
}

.section_title{
  font-family: 'Roboto-bold';
  color: #337ab7;
}

.backLink:hover{
  color: var(--link-dark);
}

.box{
  position: relative;
  background-color: #337ab7;
  width: 100%;     /* desired width */
  max-width: 512px;


  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
}
#Order:disabled{
  cursor: not-allowed;
  background-color: #f7de7b;
}
#Order:disabled:hover{
  background-color: #f7de7b;
}

 /* Status  */
.product-status{
  margin-top: 10px;
  font-family: 'Roboto-light';
  color: #333;
  height: fit-content;
}

.product-status span{
  display: inline-flex;
  align-items: center;
  padding: 4px;
  margin-right: 8px;
  font-size: 11px;
  border-radius: 5px;
  font-weight: 600;
}
.product-status span i {
  padding-right: 5px;
  font-size: 14px;
}

 /* Price  */
 .price {
  margin-top: 25px;
}

.mp-span,
.price-span,
.dis-span{
  font-family: 'Roboto-bold';
}
.mp-span{
  display: block;
  margin-bottom: 12px;
}
.price-span{
  display: block;
  font-size:30px;
  font-weight: bold;
  color: #44aa74;
  margin-bottom: 2px;
}
.dis-span{
  font-size: 14px;
  font-weight: 100;
}
.product-order{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}
:host ::ng-deep .product-order .p-inputnumber-input{
  padding: 8px 34px 8px 8px !important;
  width: 100px;
}
:host ::ng-deep .product-order .p-inputtext:enabled:focus:not(.p-state-error){
  box-shadow: none;
}
.product-order button{
  font-family: 'Roboto-bold';
  width: 100%;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-spec-min{
  margin: 35px 0px 25px 0px;
}

.product-spec-min ::ng-deep .content{
  border-color: #e8e8e8;
  border-width: 2px 0px 0px 0px;
}
.product-spec-min ::ng-deep ul a li {
  padding: 10px 12px;
  font-size: 12px;
  margin-right: 2px;
  margin-bottom: 1px;
}
.product-spec-min ::ng-deep ul a li:not(.active){
  background-color: #e8e8e8 !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #333;
}

