.main-container{
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100% - 1px);
  max-width: 1300px;
  margin: 20px auto;
}
#sidebar {
  padding: 8px 16px 8px 8px;
}
.user-sidebar{
  border-radius: 5px;
  background-color: white;
  font-size: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.user-sidebar > a{
  text-decoration: none;
  color: #333;
}
.user-sidebar > a > li{
  padding:8px 15px;
  cursor: pointer;
}
.user-sidebar > a:hover > li{
  color: rgb(175, 173, 173);
}
@media screen and (min-width: 740px) {
  .main-container {
    grid-template-columns: auto 1fr;
  }
  #side-bar{
    margin: 100px;
  }
}
