<div class="main-container">

  <form (ngSubmit)="onSubmit()"  [formGroup]="changePasswordForm">

    <!-- Old password -->
    <div class="form-group ui-g ui-md-12 ui-sm-12">
      <label for="old-password">Lozinka</label>
      <input type="password"
            formControlName="oldPassword"
            id="old-password"
            class="form-control"
      >
      <div *ngIf="!changePasswordForm.get('oldPassword').valid && showErrors">
        <div class="error" *ngIf="changePasswordForm.get('oldPassword').errors['required']" >
          Morate popuniti ovo polje.
        </div>
      </div>
    </div>

    <!-- Password -->
    <div class="form-group ui-g ui-md-12 ui-sm-12">
      <label for="password">Lozinka</label>
      <input type="password"
            formControlName="password"
            id="password"
            class="form-control"
      >
      <div *ngIf="!changePasswordForm.get('password').valid && showErrors">
        <div class="error" *ngIf="changePasswordForm.get('password').errors['required']" >
          Morate popuniti ovo polje.
        </div>
        <div class="error" *ngIf="!changePasswordForm.get('password').errors['required'] && (changePasswordForm.get('password').errors['minlength'])" >
            Lozinka mora imati najmanje 6 karaktera.
        </div>
        <div class="error" *ngIf="!changePasswordForm.get('password').errors['required'] &&
                !changePasswordForm.get('password').errors['minlength'] && changePasswordForm.get('password').errors['strong']">
          Lozinka mora sadržati broj, veliko i malo slovo.
        </div>
      </div>
    </div>

    <!-- Repeat password -->
    <div class="form-group ui-g ui-md-12 ui-sm-12">
      <label for="repeat-password" class="required-label">Ponovite lozinku</label>
      <input type="password"
            id="repeat-password"
            formControlName="repeatPassword"
            class="form-control"
      >
      <div *ngIf="showErrors && ((changePasswordForm.errors !== null && changePasswordForm.errors['match']) ||
                  !changePasswordForm.get('repeatPassword').valid)">
        <div class="error" *ngIf="!changePasswordForm.get('repeatPassword').valid" >
          Morate popuniti ovo polje.
        </div>
        <div class="error" *ngIf="changePasswordForm.get('repeatPassword').valid &&
              changePasswordForm.errors !== null && changePasswordForm.errors['match']" >
          Lozinke se moraju poklapati.
        </div>
      </div>
    </div>

    <div class="ui-g ui-md-12 ui-sm-12" style="padding-top: 8px;">
      <div class="error"*ngIf="errorMessage !== ''">
        <p>{{ errorMessage }}</p>
      </div>
      <button class="bttn bttn-link bttn-f" type="submit">
        Sačuvaj izmene
      </button>
    </div>

  </form>
</div>
